@model FilteredAdvertsViewModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = @Localizer["pageTitle"];
}

@if (Model.filteredAds.Count() != 0)
{<h1 class="page-header" align="center">@Localizer["pageHeader"]</h1>
 <input asp-for="searchedText" type="text" name="searchedText" value="@Model.searchedText" hidden>
 <input asp-for="RegionId" type="text" name="RegionId" value="@Model.RegionId" hidden>
 <input asp-for="CategoryId" type="text" name="CategoryId" value="@Model.CategoryId" hidden>
 
    <div class="adverts">
        @foreach (var item in Model.filteredAds)
        {
            
            <div class="advert">
                <div class="advert-photo">
                    <img src="/images/adverts-images/@item.PrimaryImageUrl" class="advert-photo-image">
                </div>
                <div class="advert-title">
                    <a href="/Advert/@item.Id" class="advert-title-link">@item.Title</a>
                </div>
                <div class="advert-price">
                    <p class="advert-price-text">@item.Price.ToString("N2") ₽</p>
                </div>
                <div class="advert-date">
                    <p class="advert-date-text">@item.PublicationDate.ToLongDateString()</p>
                </div>
                <div class="advert-short-description">
                    <p class="advert-short-description-text">@item.ShortDescription</p>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="buttons-delete-edit-area">
                    @if (item.Status == "Published")
                    {
                    <a href="/admin/Unpublish/@item.Id" class="button-edit">@Localizer["unpublish"]</a>
                    }
                    else
                    {
                    <a href="/admin/Unpublish/@item.Id" class="button-edit">@Localizer["publish"]</a>
                    }
                    @if (item.Status != "Deleted")
                    {
                    <a href="/admin/delete/@item.Id" class="button-delete">@Localizer["delete"]</a>
                    }
                    else
                    {
                    <a href="/admin/delete/@item.Id" class="button-delete">@Localizer["restore"]</a>
                    }
                </div>
                <div class="buttons-delete-edit-area">                   
                        <a href="/admin/deleteTotal/@item.Id" class="button-total-delete">@Localizer["deleteFromDB"]</a>           
                </div>

                }
            </div>
        }
    </div>
    @if (Model.felteredAdsNumber > Model.advertsPerPageNumber)
    {
        <div class="pagination-block">
            <ul class="pagination-block-list">
                @for (int i = 1; i <= Math.Ceiling((double)Model.felteredAdsNumber / (double)Model.advertsPerPageNumber); i++)
                {
                    <li class="pagination-block-list-item">
                        <a href="/home/Find?pageNumber=@i" class="@(Model.PageNumber == i ? "pagination-block-list-item-link-active" : "pagination-block-list-item-link")">@i</a>
                    </li>
                }
            </ul>
        </div>
    }
}
else
{
        <h1 class="page-header" align="center">По такому запросу ничего не найдено. попробуйте изменить условия</h1>
}
 
