@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model SignUpViewModel
@{
    ViewData["Title"] = @Localizer["pageTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header" align="center">@Localizer["pageHeader"]</h1>
@Html.Partial("_UserErrors")

<form action="/Authorization/SignUp" method="post" class="sign-up-form">
   <div class="sign-up-form-user-name">
        <label for="advert-form-title-input" class="sign-up-form-user-name-lable">@Localizer["userName"]</label>
        @if (Model != null)
        {
            <input type="text" name="FIO" id="sign-up-form-user-name-input" value="@Model.FIO" required>
            <label class="error"><span asp-validation-for="FIO"></span></label>
        }
        else
        {
            <input type="text" name="FIO" id="sign-up-form-user-name-input" value="" required>
        }
    </div>
    <div class="sign-up-form-password">
        <label for="sign-up-form-password-input" class="sign-up-form-password-lable">@Localizer["password"]</label>
        @if (Model != null)
        {
            <input type="password" name="Password" id="sign-up-form-password-input" value="@Model.Password" required>
            <label class="error"><span asp-validation-for="Password"></span></label>
        }
        else
        {
            <input type="password" name="Password" id="sign-up-form-password-input" value="" required>
        }
    </div>
    <div class="sign-up-form-email">
        <label for="sign-up-form-email-input" class="sign-up-form-email-lable">Email</label>
        @if (Model != null)
        {
            <input type="email" name="Email" id="sign-up-form-email-input" value="@Model.Email" autocomplete="off" required>
            <label class="error"><span asp-validation-for="Email"></span></label>
        }
        else
        {
            <input type="email" name="Email" id="sign-up-form-email-input" value="" autocomplete="off" required>
        }
    </div>
    <div class="sign-up-form-phone">
        <label for="sign-up-form-phone-input" class="sign-up-form-phone-lable">@Localizer["phone"]</label>
        @if (Model != null)
        {
            <input type="text" name="Phone" id="sign-up-form-phone-input" autocomplete="off" value="@Model.Phone" required>
            <label class="error"><span asp-validation-for="Phone"></span></label>
        }
        else
        {
            <input type="text" name="Phone" id="sign-up-form-phone-input" autocomplete="off" value="" required>
        }
    </div>
    <div class="sign-up-form-region">
        <label for="advert-form-region-input" class="sign-up-form-region-lable">@Localizer["region"]</label>
        <div class="sign-up-form-region-select-container">
            <select class="sign-up-form-select-region-select" name="RegionId" asp-for="RegionId">
                @foreach (var region in ViewBag.Regions)
                {
                    <option value="@region.Key">@region.Value</option>
                }
            </select>
        </div>
    </div>
    <div class="sign-up-form-user-adress">
        <label for="sign-up-form-user-adress-input" class="sign-up-form-user-adress-lable">@Localizer["adress"]</label>
        @if (Model != null)
        {
            <input type="text" name="UserAdress" id="sign-up-form-user-adress-input" value="@Model.UserAdress" autocomplete="off" required>
            <label class="error"><span asp-validation-for="UserAdress"></span></label>
        }
        else
        {
            <input type="text" name="UserAdress" id="sign-up-form-user-adress-input" autocomplete="off" value="" required>
        }
    </div>
    <div class="sign-up-form-submit-button-container">
        <input type="submit" value="@Localizer["signUp"]" id="sign-up-form-submit-button">
    </div>
</form>

<script>    
    $(document).ready(function () {
        //валидация формы
        var language = '@System.Globalization.CultureInfo.CurrentCulture.Name';
        $('.sign-up-form').validate({
            rules: {
                FIO: {
                    required: true,
                    minlength: 5,
                    maxlength: 40
                },
                Password: {
                    required: true,
                    minlength: 8,
                    maxlength: 20,
                    isPasswordHasUpperCaseSymbol: true,
                    isPasswordHasLowerCaseSymbol: true,
                    isPasswordHasDigit: true,
                    isPasswordFormat: true
                    
                },
                Email: {
                    required: true,
                    isEmailFormat: true,
                    email: false
                },
                Phone: {
                    required: true,
                    isPhoneNumberFormat: true
                },
                UserAdress: {
                    required: true,
                    minlength: 5,
                    maxlength: 180
                }

            },
            messages: {
                FIO: {
                    required: "@Localizer["requireField"]",
                    minlength: "@Localizer["userNameMinLength"]",
                    maxlength: "@Localizer["userNameMaxLength"]"
                     },
                Password: {
                    required: "@Localizer["requireField"]",
                    minlength: "@Localizer["passwordMinLength"]",
                    maxlength: "@Localizer["passwordMaxLength"]",
                    isPasswordHasUpperCaseSymbol: "@Localizer["uppercaseLetterPassword"]",
                    isPasswordHasLowerCaseSymbol: "@Localizer["lowercaseLetterPassword"]",
                    isPasswordHasDigit: "@Localizer["digitPassword"]",
                    isPasswordFormat: "@Localizer["passwordFormat"]"
                },
                Email: {
                    required: "@Localizer["requireField"]",
                    isEmailFormat: "@Localizer["emailFormat"]"
                },
                Phone: {
                    required: "@Localizer["requireField"]",
                    isPhoneNumberFormat: "@Localizer["phoneFormat"]"
                },
                UserAdress: {
                    required: "@Localizer["requireField"]",
                    minlength: "@Localizer["userAdressMinLength"]",
                    maxlength: "@Localizer["userAdressMaxLength"]"
                }
            }
        });

        $.validator.addMethod('isPhoneNumberFormat', function (value) {
            return /^\+[0-9]{1}\([0-9]{3}\) [0-9]{3}\-[0-9]{2}\-[0-9]{2}$/.test(value);
        }, "Is not phone format");

        $.validator.addMethod('isEmailFormat', function (value) {
            return /\S+@('@')\S+\.\S+/.test(value);
        }, "Is not email format");

        $.validator.addMethod('isPasswordFormat', function (value) {
            return /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/.test(value);
        }, "Is not password format");

        $.validator.addMethod('isPasswordHasUpperCaseSymbol', function (value) {
            return /[A-Z]{1}/.test(value);
        }, "Is not password format");

        $.validator.addMethod('isPasswordHasLowerCaseSymbol', function (value) {
            return /[a-z]{1}/.test(value);
        }, "Is not password format");

        $.validator.addMethod('isPasswordHasDigit', function (value) {
            return /[0-9]{1}/.test(value);
        }, "Is not password format");

    });
</script>
<script>
    $(function () {
        $(".signUp-phone-input").mask("+7(999) 999-99-99");
    });
</script>

